<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div th:align="right">
    Your login is: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
<table>
    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>age</th>
            <th>username</th>
            <th>email</th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getFirstName()}"></td>
            <td th:utext="${user.getLastName()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getUsername()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            </td>
            <td>
                <a th:href="@{/editUser/{id}(id=${user.getId()})}">Update</a>
            <td>
                <a th:href="@{/deleteUser/{id}(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
    <br>
    <button onclick="window.location.href = '/new'">Add new user</button>
</table>
</body>
</html>